:root{
    --main-green-theme: #a8d892;
    --white-text: #fff;
    --banner-color: rgba(0, 0, 0, 70%);
}

*, *::before, *::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #d6e4d3;
    display: flex;
}

/* sidebar */
.sidebar{
    width: 40%;
    min-width: 350px;
    height: 100vh;
    position: relative;
    background-image: url(images/odin-project-photo.avif);
    background-size: cover;
    background-position: center;
}

#banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--banner-color);
    position: absolute;
    top: 200px;
    height: 15%;
    width: 100%;
    gap: 30px;
}

#banner img{
    height: 80%;
}

#banner-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#banner-text p:first-of-type{
    font-size: 5rem;
    color: var(--main-green-theme);
}

#banner-text p:last-of-type{
    color: rgb(40, 90, 255);
    align-self: flex-end;
    margin-right: 10px;
    font-size: 26px;
}

#credit{
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
    color: var(--white-text);
    font-size: 20px;
    padding: 10px;
    background-color: var(--banner-color);
}

#credit a{
    color: var(--white-text)
}

#credit a:hover{
    color: rgba(15, 138, 15, 0.945);
}




/* header  */
.main-content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 33%;
    width: 100%;
    background-color: var(--main-green-theme);
}

header h1{
    margin-bottom: 10px;
}

header div ul{
    margin: 15px 0 20px 40px;
    display: flex;
    flex-direction: column;
    list-style-type: circle;
}

header div li{
    margin: 2px 40px;
}

header p{
    margin: 5px 40px;
    font-size: 1.4rem;
    max-width: 60%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

header > p > strong{
    font-weight: bolder;
    font-size: 1.6rem;
}

header > p > em{
    font-size: 14px;
}



/* inputs */
input{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
}

input:focus{
    border: 1px solid rgb(85, 85, 94);
    outline: none;
    border-color: rgb(85, 85, 94);
    box-shadow: 2px 2px 5px rgb(104, 104, 116);
}

input:valid{
    border-color: green;
    box-shadow: 2px 2px 3px green;
}

input[type="password"]:invalid{
    border-color: red;
    box-shadow: 2px 2px 1px rgb(221, 17, 17);
}


/* main section */
main{
    height: 34%;
    display: flex;
    flex-direction: column;
}

main h1{
    margin: 20px 0 0 40px;
}

form{
    display: flex;
    gap: 50px;
    margin-left: 40px;
}

form > div{
    display: flex;
    flex-direction: column;
}

form > div > label{
    margin-top: 20px;
    font-family: cursive;
}


form > div > input{
    padding: 5px;
    width: 300px;
}

/* footer */
footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 33%;
    gap: 10px;
    background-color: var(--main-green-theme);
}

footer button{
    font-size: 1.4rem;
    margin: 40px 0 0 40px;
    padding: 20px;
    cursor: pointer;
    background-color: rgba(10, 100, 10, 0.945);
    color: var(--white-text);
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

footer button:hover{
    background-color: rgba(14, 134, 14, 0.945);    
}

footer button:active{
    background-color: rgba(51, 184, 51, 0.945);
}

footer p{
    margin-left: 36px;
}

footer p a{
    color: rgb(3, 58, 3);
    font-weight: 800;
}

footer p a:active{
    color: rgb(236, 50, 26);
}